// Navigation Styles here

.heady {
    .border();
} 

.navywavy {
    width: 40%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 10vh;

    nav {
        width: 40%;
        display: flex;
        justify-content: space-between;

        a{
            text-decoration: none;
            color: black;
        }
    }

    h1 {
        margin-right: 40%;
    }

}